root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.ps1]
charset = utf-8-bom

[*.{ts,tsx,js,jsx,json,mjs,md,yml,yaml,css,scss,html,txt}]
charset = utf-8
